body {
  background-color: white;
  }

.home-cartoons {
  padding-right: 20%;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-top: 10px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15px;
  margin-left: 50px;
}
